

<button class="btn btn--primary ">Sign Up </button>
<button class="btn btn--outline">Sign Up </button>
<button class="btn btn--primary btn--block">Sign Up </button>
<a href="#" class="btn btn--primary btn--block">Buy Now </a>


<button class="btn btn--secondary ">Sign Up </button>
<button class="btn btn--secondary btn--block">Sign Up </button>
<a href="#" class="btn btn--secondary btn--block">Buy Now </a>

<button class="btn btn--accent ">Sign Up </button>
<button class="btn btn--accent btn--block">Sign Up </button>
<a href="#" class="btn btn--accent btn--block">Buy Now </a>